---
version: "3"
services:
  kroki:
    image: yuzutech/kroki:0.30.0@sha256:557faf3f28bf4bc49540b027188af811ffeabeb7cd9e77ce8e8febc19efe7c65
    depends_on:
      - mermaid
      - bpmn
      - excalidraw
    environment:
      - KROKI_MERMAID_HOST=mermaid
      - KROKI_BPMN_HOST=bpmn
      - KROKI_EXCALIDRAW_HOST=excalidraw
    ports:
      - "8000:8000"
  mermaid:
    image: yuzutech/kroki-mermaid:0.30.0@sha256:ba0f0e68ab39bf5d180ff8c76d027f8689983f4a1bdd7ff902b1d02a46698860
    expose:
      - "8002"
  bpmn:
    image: yuzutech/kroki-bpmn:0.30.0@sha256:414b07a51425b175fa9f19589b78aead9ab34458f62bd1c75e223745e41e11f5
    expose:
      - "8003"
  excalidraw:
    image: yuzutech/kroki-excalidraw:0.30.0@sha256:a91a8b38e462f8dafc2cca383f328a5bb657215ecec6dca1fb3ace82aca9ca9e
    expose:
      - "8004"
