---
version: "3"
services:
  kroki:
    image: yuzutech/kroki:0.29.1@sha256:6d70ed44236102613e1155185340680644dded2191ff0be4f559fb31b92065d9
    depends_on:
      - mermaid
      - bpmn
      - excalidraw
    environment:
      - KROKI_MERMAID_HOST=mermaid
      - KROKI_BPMN_HOST=bpmn
      - KROKI_EXCALIDRAW_HOST=excalidraw
    ports:
      - "8000:8000"
  mermaid:
    image: yuzutech/kroki-mermaid:0.29.1@sha256:963b4acfde6ec6c3bc7d33269430b95d8cc0558b0414d4151d10ec79a76a70b1
    expose:
      - "8002"
  bpmn:
    image: yuzutech/kroki-bpmn:0.29.1@sha256:444805c4b9175832c4aea688723e5acb274df3fdc8f305e868134f064360f435
    expose:
      - "8003"
  excalidraw:
    image: yuzutech/kroki-excalidraw:0.29.1@sha256:57917319ea70f9cc55746a52f419667390c092162f0fc2990f48f69b9730ff2a
    expose:
      - "8004"
